In [19]:
# Task condition
import pandas as pd

df = pd.DataFrame({'name': ['Jeff', 'Esha', 'Jia'],
                   'age': [30, 56, 8],
                   'city': ['New York', 'Atlanta', 'Shanghai']})

# Target:
# Suppose we realize after collecting a bunch of data that our process incorrectly set the age of people in New York and Atlanta one year less than it was suppose to. Complete the function, correct_age_in_error_cities(df), by having it increment the age of people living in New York or Atlanta by one year.

In [20]:
df

   name  age      city
0  Jeff   30  New York
1  Esha   56   Atlanta
2   Jia    8  Shanghai

In [21]:
def correct_age_in_error_cities(df):
    df.loc[(df.city == "New York") | (df.city == "Atlanta"), "age"] += 1
    return df # replace df with your result.

In [22]:
correct_age_in_error_cities(df)

   name  age      city
0  Jeff   31  New York
1  Esha   57   Atlanta
2   Jia    8  Shanghai

In [23]:
def correct_age_in_error_cities_mask(df):
    # df.loc[(df.city == "New York") | (df.city == "Atlanta"), "age"] += 1
    df.age.mask((df.city == "New York") | (df.city == "Atlanta"), df.age + 1)
    return df  # replace df with your result.

In [24]:
correct_age_in_error_cities_mask(df)

   name  age      city
0  Jeff   31  New York
1  Esha   57   Atlanta
2   Jia    8  Shanghai