In [20]:
# Task condition
import pandas as pd

df = pd.DataFrame({'name': ['Jeff', 'Esha', 'Jia'],
                   'age': [30, 56, 8]})

# Target:
# Write a function, only_names_that_start_with_j(df) which takes in the DataFrame and returns a new DataFrame with rows of names that start with 'J'. Hint: the pandas .str functions would be helpful here.

In [21]:
df[df.age >= 16]

   name  age
0  Jeff   30
1  Esha   56

In [22]:
def only_names_that_start_with_j(df):
  df = df[df.name.str.startswith('J')]
  return df

In [23]:
only_names_that_start_with_j(df)

   name  age
0  Jeff   30
2   Jia    8