In [1]:
# Task condition
import pandas as pd

df = pd.DataFrame({'name': ['Jeff', 'Esha', 'Jia'],
                   'age': [30, 56, 8],
                   'city': ['New York', 'Atlanta', 'Shanghai']})

# Target:
# Complete the function, select_target_audience(df), by having it return the rows with people who are between 21 and 40 years old (inclusive) and live in New York or Tokyo.

In [2]:
df

   name  age      city
0  Jeff   30  New York
1  Esha   56   Atlanta
2   Jia    8  Shanghai

In [19]:
def select_target_audience(df):
    return df[(df.age >= 21) & (df.age <= 40) & ((df.city == 'New York') | (df.city == 'Tokyo'))]

In [20]:
select_target_audience(df)

   name  age      city
0  Jeff   30  New York